<div class="row">
    <div class="col-xs-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
      <div class="start-wrapper">
        <div class="start-header">
          <h3 class="title highlight-aeris">Thank you!</h3>
          <h4 class="subtitle">we appreciate your daily collaboration. Together we can contribute to the global knowledge about our <h4 class="highlight-aeris">health</h4> </h4>
        </div>
        <div class="start-content">
          <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2">
              <div class="like-container">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x highlight-aeris"></i>
                  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="btns-wrapper">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2">
              <button class="btn btn-primary aeris-btn" ui-sref="maps.list">Go to map!</button>
              <a href="/">Go Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
