<div class="row">
    <div class="col-xs-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
      <div class="start-wrapper">
        <div class="start-header">
          <h3 class="title">Hello there!</h3>
          <h4 class="subtitle">ready to answer a few questions about how you feel today?</h4>
        </div>
        <div class="start-content">
            <div class="row">
              <div class="btns-wrapper">
                <div class="col-xs-12 col-lg-6">
                  <button class="btn btn-success">Let's do it!</button>
                </div>
                <div class="col-xs-12 col-lg-6">
                  <button class="btn btn-danger">Maybe later!</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
