<div class="row">
    <div class="col-xs-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
      <div class="start-wrapper">
        <div class="start-header">
          <h3 class="title highlight-aeris">Hello there!</h3>
          <h4 class="subtitle">ready to answer a few questions about how you feel today?</h4>
        </div>
        <div class="start-content">
          <!--info for you-->
          <div class="row info-container">
            <div class="col-xs-12 col-lg-3 col-lg-offset-2">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x highlight-aeris"></i>
                <i class="fa fa-user fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="col-xs-12 col-lg-7">
              <div class="description">
                <h2>Info for</h2><h2 class="highlight-aeris"> you</h2>
              </div>
            </div>
          </div>
          <!--info for us-->
          <div class="row info-container">
            <div class="col-xs-12 col-lg-3 col-lg-offset-2">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x highlight-aeris"></i>
                <i class="fa fa-users fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="col-xs-12 col-lg-7">
              <div class="description">
                <h2>Info for</h2><h2 class="highlight-aeris"> us</h2>
              </div>
            </div>
          </div>
          <!--info for everyone-->
          <div class="row info-container">
            <div class="col-xs-12 col-lg-3 col-lg-offset-2">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x highlight-aeris"></i>
                <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="col-xs-12 col-lg-7">
              <div class="description">
                <h2>Info for</h2><h2 class="highlight-aeris"> everyone</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="btns-wrapper">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2">
              <button class="btn btn-primary aeris-btn">Let's do it!</button>
              <a href="/">Go back</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
