<div class="row">
    <div class="col-xs-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
      <div class="start-wrapper">
        <div class="question-header">
          <div class="row">
            <div class="col-xs-12 col-lg-10">
              <h2 class="highlight-aeris">Symptoms</h2><h2> | grade your symptoms in a scale of <h2 class="one-grad">one</h2> <h2>to</h2><h2 class="four-grad"> four</h2></h2>
            </div>
          </div>
          <div class="row palette-container">
            <div class="col-xs-12 col-lg-6 col-lg-offset-6">
              <div class="grade-palette">
                <div class="palette palette-one">
                </div>
                <div class="palette palette-two">
                </div>
                <div class="palette palette-three">
                </div>
                <div class="palette palette-four">
                </div>
              </div>
            </div>
          </div>
          <div class="row symptom">
            <div class="col-xs-12 col-lg-4 col-lg-offset-1">
              <h2>Cough</h2>
            </div>
            <div class="col-xs-12 col-lg-7">
              <div class="slider-container">
                <rzslider class="slider-symptom" rz-slider-model="minSlider.cough" rz-slider-options="minSlider.options" rz-slider-floor="0"></rzslider>
              </div>
            </div>
          </div>
          <div class="row symptom">
            <div class="col-xs-12 col-lg-4 col-lg-offset-1">
              <h2>Shortness of breath</h2>
            </div>
            <div class="col-xs-12 col-lg-7">
              <div class="slider-container">
                <rzslider class="slider-symptom" rz-slider-model="minSlider.breath" rz-slider-options="minSlider.options" rz-slider-floor="0"></rzslider>
              </div>
            </div>
          </div>
          <div class="row symptom">
            <div class="col-xs-12 col-lg-4 col-lg-offset-1">
              <h2>Sneezing</h2>
            </div>
            <div class="col-xs-12 col-lg-7">
              <div class="slider-container">
                <rzslider class="slider-symptom" rz-slider-model="minSlider.sneezing" rz-slider-options="minSlider.options" rz-slider-floor="0"></rzslider>
              </div>
            </div>
          </div>
          <div class="row symptom">
            <div class="col-xs-12 col-lg-4 col-lg-offset-1">
              <h2>Wheezing</h2>
            </div>
            <div class="col-xs-12 col-lg-7">
              <div class="slider-container">
                <rzslider class="slider-symptom" rz-slider-model="minSlider.wheezing" rz-slider-options="minSlider.options" rz-slider-floor="0"></rzslider>
              </div>
            </div>
          </div>
          <div class="row symptom">
            <div class="col-xs-12 col-lg-4 col-lg-offset-1">
              <h2>Nasal obstruction</h2>
            </div>
            <div class="col-xs-12 col-lg-7">
              <div class="slider-container">
                <rzslider class="slider-symptom" rz-slider-model="minSlider.nasal" rz-slider-options="minSlider.options" rz-slider-floor="0"></rzslider>
              </div>
            </div>
          </div>
          <div class="row symptom">
            <div class="col-xs-12 col-lg-4 col-lg-offset-1">
              <h2>Phlegm</h2>
            </div>
            <div class="col-xs-12 col-lg-7">
              <div class="slider-container">
                <rzslider class="slider-symptom" rz-slider-model="minSlider.phlegm" rz-slider-options="minSlider.options" rz-slider-floor="0"></rzslider>
              </div>
            </div>
          </div>
          <div class="row symptom">
            <div class="col-xs-12 col-lg-4 col-lg-offset-1">
              <h2>Itchy eyes</h2>
            </div>
            <div class="col-xs-12 col-lg-7">
              <div class="slider-container">
                <rzslider class="slider-symptom" rz-slider-model="minSlider.eyes" rz-slider-options="minSlider.options" rz-slider-floor="0"></rzslider>
              </div>
            </div>
          </div>
          <div class="row symptom">
            <div class="col-xs-12 col-lg-4 col-lg-offset-1">
              <h2>Snot</h2>
            </div>
            <div class="col-xs-12 col-lg-7">
              <div class="slider-container">
                <rzslider class="slider-symptom" rz-slider-model="minSlider.snot" rz-slider-options="minSlider.options" rz-slider-floor="0"></rzslider>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="btns-wrapper wrapper-step-one">
              <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                <button id="submit-btn" class="btn btn-primary aeris-btn" ui-sref="quiz.finish">Submit!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
