body{
  background-color: #ecf0f1;
}

.content {
  margin-top: 40px;
  background-color: #ecf0f1;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.navbar-inverse {
  background-image: none;
  background-color: #333;
  color: #ecf0f1;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ecf0f1;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #62b2a5;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #62b2a5;
}
