<section>
  <div id="map"></div>
  <div class="FilterContainer">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-xs-6 col-sm-3 sidebar-offcanvas sideBlock" id="sidebar" role="navigation">
          <div class="list-group">
              <h3 class="text-center">Filters</h3>
          </div>
          <div class="list-group">
              <input id="searcha" class="form-control" type="text" placeholder="Search Place">
          </div>
          <div class="list-group">
            <select id="layer" name="Layer" class="form-control" ng-model="layer">
              <option value="">---Select Layer---</option>
              <option value="aerosol">Aerosol</option>
              <option value="carbonMonoxide">Carbon Monoxide</option>
              <option value="carbonMonoxide">Carbon Monoxide</option>
              <option value="nitricAcid">Nitric Acid</option>Nitric Oxide, Ozone, Sulfur Dioxide
              <option value="nitricOxide">Nitric Oxide</option>
              <option value="ozone">Ozone</option>
              <option value="sulfurDioxide">Sulfur Dioxide</option>
            </select>
          </div>
          <div class="list-group">
            <h3 class="text-center">Symptoms</h3>
            <ul>
              <li class="list-unstyled"><input type="checkbox" id="" value="a" ng-model="mucus ">Mucus</input></li>
              <li class="list-unstyled"><input type="checkbox"id="" ng-model="cough">Cough</input></li>
              <li class="list-unstyled"><input type="checkbox"id="" ng-model="nasalobstruction">Nasal obstruction</input></li>
              <li class="list-unstyled"><input type="checkbox"id="" ng-model="shortnessbreath">Shortness of breath</input></li>
              <li class="list-unstyled"><input type="checkbox"id="" ng-model="wheezing">Wheezing</input></li>
              <li class="list-unstyled"><input type="checkbox"id="" ng-model="itchyEyes">Itchy eyes</input></li>
              <li class="list-unstyled"><input type="checkbox"id="" ng-model="Sneezing">Sneezing</input></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</section>
