/* step views */
#signup-form {
  margin-top: 30px;
  position:relative;
  min-height: 750px;
  overflow:hidden;
}

#steps-views {
  width:100%;
}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#steps-views.ng-enter,
#steps-views.ng-leave      { position:absolute;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}

/* enter animation */
#steps-views.ng-enter            {
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease;
}

/* leave animation */
#steps-views.ng-leave            {
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}



.start-wrapper {
  -webkit-box-shadow: -1px 4px 25px 1px rgba(125,119,125,0.27);
  -moz-box-shadow: -1px 4px 25px 1px rgba(125,119,125,0.27);
  box-shadow: -1px 4px 25px 1px rgba(125,119,125,0.27);
  background-color: #333;
  margin-bottom: 50px;
  color: #ecf0f1;
}

.start-header {
  text-align: center;
  padding: 3% 10%;
}

.start-header h3 {
  font-size: 48px;
}

.btns-wrapper {
  text-align: center;
  padding: 5%;
  margin-bottom: 60px;
}

.btns-wrapper a {
  color: #62b2a5;
  margin-left: 10px;
}


/*styles for start page */
.start-content {
  padding: 10px;
}

.description {
  font-size: 40px;
  line-height: 2.5;
  text-align: left;
}

.description h2 {
  display: inline;
}

h.highlight-aeris {
  display: inline;
  font-weight: bold;
}

.highlight-aeris {
  color: #62b2a5;
}

.info-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-container span {
  font-size: 60px;
}

.btn-primary.aeris-btn {
  font-size: 30px;
  background-color: #62b2a5;
  background-image: none;
  transition: all ease-out 0.3s;
  border: none;
}

.aeris-btn:hover {
  background-color: #fe6580;
}

.aeris-btn:focus {
  border: none;
}

.aeris-btn:active:focus {
  border: none;
  background-color: #62b2a5;
}

/* question styles */
.question-header {
  padding: 30px;
}

.question-header h2{
  font-size: 20px;
  display: inline;
}

.question-header h2.highlight-aeris {
  font-size: 30px;
}

.symptom h2 {
  line-height: 3.33;
}

.one-grad {
  color: #2ecc71;
}

.four-grad {
  color: #c0392b;
}

.palette-container {
  margin-top: 50px;
}

.grade-palette {
  margin-top: 20px;
  display: inline;
  padding: 0;
  width: 300px;
}

.palette {
  width: 92px;
  height: 30px;
  display: inline-block;
}

.palette-one {
  background-color: #2ecc71;
}

.palette-two {
  background-color: #f1c40f;
}

.palette-three {
  background-color: #e67e22;
}

.palette-four {
  background-color: #c0392b;
}

.symptom {
  margin-top: 30px;
}

.symptom {
  text-align: left;
}

.slider-container {
  width: 405px;
  margin-left: 20px;
}

rzslider .rz-bubble {
  color: #D2D2D2;
}

rzslider .rz-bubble.rz-limit {
  color: #62b2a5;
}

rzslider .rz-pointer {
  background-color: #62b2a5;
}

rzslider .rz-pointer.rz-active:after{
  background-color: #4B4952;
}

.wrapper-step-one {
  margin-bottom: 10px;
}

btn.btn-primary.aeris-btn .step-one-btn{
  font-size: 30px;
}

#submit-btn {
  font-size: 30px;
}

.like-container {
  font-size: 80px;
  text-align: center;
}
